.content-wrap {
    width: 100%;
    height: 100%;
    background: #f6f6f6;
}

.wrapper {
    position: relative;
    width: 100%;
    height: 100%;
    z-index: 1;
}

.float-mobile {
    position: fixed;
    left: 20%;
    top: 120px;
    width: 30%;
    height: auto;
    background-size: contain;
    z-index: 10;
    pointer-events: none;
}

.float-mobile .mobile-viewer {
    height: 75%;
    width: 63.5%;
    margin-top: 62px;
}

.float-mobile .mobile-content {
    height: 100%;
    width: 100%;
}

.float-mobile .mobile-content div {
    height: 100%;
    width: 100%;
    background-size: contain;
}

.float-mobile .mobile-content div video {
    height: 100%;
    width: 100%;
}

.pagination {
    position: fixed;
    top: 33%;
    right: 40px;
    width: 28px;
    z-index: 1;
}

.pagination span {
    display: block;
    height: 6px;
    margin-top: 32px;
    width: inherit;
    border: #adadad 1px solid;
    border-radius: initial;
    background: transparent;
    opacity: 1;
}
.pagination .swiper-pagination-bullet-active {
    background: #F83636;
    border-color: #f83636 !important;
}

.desc-item {
    margin: 0 auto;
}

.desc-item .content {
    margin-left: 50%;
    margin-top: 20%;
}

.desc-item:nth-child(1) .content {
    margin-top: 194px;
}

.desc-item:nth-child(1) .content .app-logo {
    width: 402px;
    height: 108px;
    /* background: url("fiilapp_logo.png") no-repeat; */
    background-size: contain;
}

.desc-item:nth-child(1) .content .app-download {
    margin-top: 133px;
}

.desc-item:nth-child(1) .content .app-download div {
    float: left;
}

.desc-item:nth-child(1) .content .link {
    width: 240px;
}

.desc-item:nth-child(1) .content .link a {
    height: 69px;
    line-height: 69px;
    padding-left: 24px;
    font-size: 24px;
    text-align: center;
    position: relative;
    background: #fff;
    border-radius: 5px;
    color: #4a4a4a;
    display: block;
    text-decoration: none;
}

.desc-item:nth-child(1) .content .link a:nth-child(2) {
    margin-top: 17px;
}

.desc-item:nth-child(1) .content .link a:hover {
    color: #F83636;
}

.desc-item:nth-child(1) .content .link a i {
    left: 16px;
    font-size: 32px;
    position: absolute;
}

.desc-item:nth-child(1) .content .qr-code {
    width: 155px;
    height: 155px;
    margin-left: 16px;
    /* background: url("fiilapp_qrcode.png"); */
    background-size: contain;
}

.desc-item:not(:nth-child(1)) .content p:nth-child(1) {
    font-size: 36px;
    line-height: 1.4;
    color: #F83636;
}

.desc-item:not(:nth-child(1)) .content p:nth-child(2) {
    font-size: 16px;
    line-height: 2.5;
    width: 579px;
    margin-top: 47px;
    color: #858585;
    white-space: nowrap;
}

@media screen and (min-width: 1440px) {
    .float-mobile {
        top: 154px;
        width: 450px;
        height: 668px;
    }

    .float-mobile .mobile-viewer {
        margin-top: 76px;
    }
}
/* 
@media screen and (min-width: 1600px) {
    .float-mobile {
        top: 154px;
        width: 530px;
        height: 789px;
    }

    .float-mobile .mobile-viewer {
        margin-top: 90px;
    }

    .desc-item .content, .desc-item:nth-child(1) .content {
        margin-top: 360px;
    }

    .desc-item:not(:nth-child(1)) .content p:nth-child(1) {
        font-size: 44px;
    }

    .desc-item:not(:nth-child(1)) .content p:nth-child(2) {
        font-size: 20px;
        margin-top: 90px;
    }
} */