@charset "utf-8";
*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    /*font-size: 14px;*/
    font-weight: 200;
}

body{
    width: 100%;
    height: 100%;
    color: #4a4a4a;
    background-color: #f8f8f8;
    line-height: normal;
}
html{
    min-width: 750px !important;
    height: 100%;
    overflow-x:auto;
    overflow-y:auto;
}
.fiil-content{
    width: 100%;
    height: auto;
    position: relative;
    min-width: 1200px;
    display: inline-block;
}

.content-area{
    width: 100%;
    height: auto;
    position: relative;
    display: block;
    overflow: hidden;
}

.content-white{
    background-color: #ffffff;
}

.content-gray{
    background-color: #f8f8f8;
}

.line-sign{
    width: 18px;
    height: 2px;
    position: relative;
}

.line-red{
    background-color: #de0a3b;
}

.line-black{
    background-color: #4a4a4a;
    margin-top: 18px;
}

.line-animate:hover .line-sign{
    width: 36px;
}

.highlight-red{
    color: #de0a3b;
}

.highlight-gray{
    color: #4a4a4a;
}

.text-line-through{
    text-decoration: line-through;
}
.sns-share a:hover {
    background:     #696969;
    color: #000;
}